.root-notifications {
    padding: 3px;
    border: 6px 12px;
    border-color: var(--holberton-red);;
}

ul li[data-priority='default'] {
    color: blue;
}

ul li[data-priority='urgent'] {
    color: var(--holberton-red);
}

h1 {
    color: var(--holberton-red);
}